div.content-container {
	display: none;
	position: absolute;
	background-image: url("musigh-bg.png");
	z-index: 0;
	width: 50%;
	height: 100%;
	left: 50%;
}

.content {
	display: inline-block;
	position: absolute;
	margin: auto;
	z-index: 3;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	width: 75%;
	height: 75%;
	background-color: #ffffff;
	border-width: 2px;
	border-style: solid;
	border-color: grey;
	border-radius: 5px;
	padding: 0 0 0 0;
}


